.section-team {
  background-color: $bg-section-color;
  padding-top: 198px;
  padding-bottom: 140px;
  background-image: url("/img/bg-team.svg");
  display: block;
  background-repeat: no-repeat;
  background-position: right calc(50% - 680px) bottom;
}
.section-team__container {
  display: flex;
  justify-content: space-between;
}
.section-team__name {
  position: relative;
  max-width: 445px;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  margin: 0;
  color: $text-color;
}
.section-team__name::before {
  display: block;
  width: 50px;
  height: 4px;
  margin-bottom: 54px;
  content: "";
  position: absolute;
  top: -54px;
  background-color: $pink-color;
}
.section-team__boxs {
  display: flex;
  margin-bottom: 32px;
  max-width: 540px;
}

.team__mechanism::before {
  display: block;
  width: 72px;
  height: 72px;
  margin-right: 23px;
  content: "";
  background-image: url("/img/shaxsiy.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.section-team__box {
  max-width: 445px;
}
.section-team__heading {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: $pink-color;
  margin-top: 0;
  margin-bottom: 16px;
}
.section-team__text {
  margin: 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  mix-blend-mode: normal;
  opacity: 0.8;
  color: $text-color;
}